<!DOCTYPE html>
<html lang="it">
<head>
  {% block title %}<title>p3ll3.eu</title>{% endblock %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  
  {% block header_extra %}{% endblock %}
</head>
<body>
  {% include "navbar.html" %}
  
  <div id="notification"></div>
  
  <div id="notification-empty">
    <div class="notification-box">
      <div class="notification-text"></div>
    </div>
  </div>
  
  <div id="content-hidden">
  {% block content_hidden %}{% endblock %}
  </div>
  
  <div id="content">
  {% block content %}{% endblock %}
  </div>
  
  {% include "footer.html" %}
</body>
</html>