{% extends 'cp.html' %}

{% block cp_content %}
  <div class="cp-block cp-cerca-{{ cp.obj }} cerca cerca-cp">
    <form class="cerca-form" action="javascript:void(0)" autocomplete="off">
      <input class="cerca-input" type="text" name="q">
      <button class="action-button cerca-button" type="submit" action="search">
        <div class="action-button-text active"></div>
        <div class="action-button-animation"></div>
      </button>
      <button class="action-button reset-button" type="reset" action="reset">
        <div class="action-button-text active"></div>
      </button>
    </form>
  </div>
  
  <div class="cp-block cp-list">
    <div class="cp-list-header">
      {% for k, v in cp_fields.items %}
        <div class="cp-list-item {{ k }}">{{ v }}</div>
      {% endfor %}
      <div class="cp-list-item controls">
        {% if 'create' in cp_controls %}
          <a class="cp-list-action create" data-action="create">+</a>
        {% endif %}
      </div>
    </div>
    
    <div class="cp-list-body"></div>
    
    <div class="cp-list-footer">
      <div class="cp-list-item info"><span class="count"></span> {{ cp.header }}</div>
    </div>
  </div>
  
  <div class="cp-block-empty">
    <div class="cp-list-loader">
      <div class="loooader"></div>
    </div>
    
    <div class="cp-list-more">
      <div class="more">+</div>
    </div>
    
    <div class="cp-list-noresult">
      <div class="container">{{ cp.noresult }}</div>
    </div>
    
    <div class="cp-list-row">
      {% for k in cp_fields %}
        <div class="cp-list-item {{ k }}"></div>
      {% endfor %}
      {% if 'count' in cp_controls %}
        <div class="cp-list-item count"></div>
      {% endif %}
      <div class="cp-list-item controls">
        {% if 'edit' in cp_controls %}
          <a class="cp-list-action edit" data-action="edit"></a>
        {% endif %}
        {% if 'download' in cp_controls %}
          <a class="cp-list-action download" data-action="download"></a>
        {% endif %}
        {% if 'filtra' in cp_controls %}
          <a class="cp-list-action filtra" data-action="filtra"></a>
        {% endif %}
      </div>
    </div>
    
    {% if cp.edit %}
      <div class="cp-list-create">
        <div class="cp-list-item centered create-title">
          <div class="text">{{ cp.create }}</div>
        </div>
      </div>
    
      {% include cp_form %}
    {% endif %}
    
  </div>
{% endblock %}