<div id="footer">
  <div class="footer-info">
    <div class="footer-developer">
      <div>Andrea Pellegrini</div>
      <div><a href="mailto:pelle@andreapellegrini.net">pelle@andreapellegrini.net</a></div>
    </div>
    
    <div class="footer-source">
      <div><a class="git" href="https://gitlab.com/apelle/p3ll3/"></a> <a href="https://gitlab.com/apelle/p3ll3/">Codice Sorgente</a></div>
    </div>
  </div>
</div>