<div class="content-block content-cerca">
  <div class="cerca cerca-large cerca-grid">
    <form id="cerca" class="cerca-form" action="javascript:void(0)">
      <input type="text" name="q" class="cerca-input" autocomplete="off">
      <button class="action-button reset-button" type="reset" action="reset">
        <div class="action-button-text active"></div>
      </button>
      
      <div class="cerca-view">
        <div></div>
      </div>
      
      <button class="action-button cerca-button" type="submit" action="search">
        <div class="action-button-text active"></div>
        <div class="action-button-animation"></div>
      </button>
      
      <div class="cerca-line-break"></div>
      
      <div class="cerca-list"></div>
    </form>
    
    <div class="cerca-empty">
      <div class="cerca-list-item">
        <div class="nome"></div>
        <div class="count"></div>
        <div class="view"></div>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-filter">
  <div class="filter-block"></div>
  
  <div id="filter-empty">
    <div class="filter-box">
      <img class="remove" src="/static/img/chiudi-black.svg">
      <div class="nome"></div>
    </div>
  </div>
</div>

<div id="file-grid" class="content-block content-grid file-view"></div>

<div id="file-grid-empty">
  <a class="file-grid-item file-grid-img">
    <div class="container">
      <div class="loooader"></div>
      <img>
    </div>
    
    <div class="info">
      <div class="shadow"></div>
      <div class="data"></div>
      <div class="download-box">
        <div class="download-button"></div>
        <div class="download-list">
          <div class="download download-press" data-action="">PRESS</div>
          <div class="download download-web" data-action="web">WEB</div>
        </div>
      </div>
      <div class="title"></div>
    </div>
  </a>
  
  <a class="file-grid-item file-grid-evento">
    <div class="container">
      <div class="loooader"></div>
      <img>
      <img>
      <img>
      <img>
    </div>
    
    <div class="info">
      <div class="shadow"></div>
      <div class="data"></div>
      <div class="count"></div>
      <div class="download-box">
        <div class="dl download-button"></div>
        <div class="download-list">
          <div class="dl download download-press" data-action="">PRESS</div>
          <div class="dl download download-web" data-action="web">WEB</div>
        </div>
      </div>
      <div class="title"></div>
    </div>
  </a>
  
  <a class="file-grid-item file-grid-more">
    <div class="more">+</div>
    <div class="count"></div>
  </a>
  
  <a class="file-grid-loader">
      <div class="loooader"></div>
  </a>
  
  <a class="file-grid-item file-grid-noresult">
    <div class="container">Nessun File Trovato</div>
  </a>
  
  <div class="file-grid-row"></div>
</div>