<div id="slideshow" class="content-fullscreen hashel" data-obj="slideshow">

  <div class="slideshow-image">
    <div class="loooader"></div>
    <img class="field image" src="">
  </div>

  <div class="slideshow-controls">
    <div class="navigate prev control" data-action="prev">
      <div class="icon prev"><img src="/static/img/freccia.svg" alt="<"></div>
    </div>

    <div class="navigate next control" data-action="next">
      <div class="icon next"><img src="/static/img/freccia.svg" alt=">"></div>
    </div>

    <div class="button hide control" data-action="hide">
      <div class="icon hide"><img src="/static/img/chiudi.svg" alt="X"></div>
    </div>

    <div class="button field download download-box">
      <div class="download-button"></div>
      <div class="download-list">
        <div class="download download-press" data-action="">PRESS</div>
        <div class="download download-web" data-action="web">WEB</div>
      </div>
    </div>
  </div>

  <div class="slideshow-loader"></div>

  <div class="slideshow-details slideshow-header">
    <div class="field keywords keywords-list"></div>
  </div>

  <div class="slideshow-details slideshow-footer">
    <div class="field meta meta-list">
      <div class="meta-item model"></div>
      <div class="meta-item lensinfo"></div>
      <div class="meta-item focal"></div>
      <div class="meta-item fnumber"></div>
      <div class="meta-item exposure"></div>
      <div class="meta-item iso"></div>
      <div class="meta-item flash"></div>
    </div>
    
    <a class="field evento" data-view="e">
      <div class="evento-item data"></div>
      <div class="evento-item nome"></div>
      <div class="evento-item luogo"></div>
    </a>
    
    <a class="field autore" data-view="a"></a>
  </div>
  
  <div class="field-empty">
    <a class="keywords-item" data-view="p"></a>
  </div>
  
</div>