<div class="cp-list-item cp-list-edit-row model-edit model-create cp-form">
  <form id="form_famiglia" class="save" action="javascript:void(0)">
    {% csrf_token %}
    
    <div class="cp-field-block block-1">
      <div class="cp-field {{ form_famiglia.nome.name }} required">
        <label for="{{ form_famiglia.nome.id_for_label }}">{{ form_famiglia.nome.label }}</label>
        <div class="cp-edit field-data">
          {{ form_famiglia.nome }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-2">
      <div class="cp-field {{ form_famiglia.users.name }} utenti_select">
        <label for="{{ form_famiglia.users.id_for_label }}">{{ form_famiglia.users.label }}</label>
        <div class="cp-edit">
          {{ form_famiglia.users }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-3">
      <div class="cp-field submit">
        <button class="action-button submit-button" type="submit" action="submit">
          <div class="action-button-text active">Salva Famiglia</div>
          <div class="action-button-animation"></div>
        </button>
        
        <button class="action-button delete-button" type="button" action="delete">
          <div class="action-button-text active">Elimina Famiglia</div>
          <div class="action-button-animation"></div>
        </button>
      </div>
    </div>
  </form>
</div>